* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

hr {
  margin: 3rem;
}


.navbar {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(211, 211, 211);
  z-index: 3;
}

.navbar-items {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: rgb(211, 211, 211);
  text-decoration: none;
}
.navbar-items:hover{
  color: rgb(247, 238, 238);
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross {
  position: absolute;
  top: 0%;
  left: -5%;
}

.heroSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("idukki.jpg");
  width: 100%;
  height: 100%;
  background-position: 0 -8rem;
}

.title h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 3.1rem;
  margin-bottom: 0.1rem;
}
.title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  margin: 0;
  letter-spacing: 5px;
}

.title h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
}

.title {
  color: rgb(177, 177, 177);
  position: absolute;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
}

.intro {
  position: relative;
  width: 70%;
  margin: 4rem auto;
  margin-top: 4rem;
  height: 300px;
}

.intro p {
  font-size: 1.2rem;
  margin-left: 8rem;
  font-family: "Nunito", san-serif;
}

.heading {
  text-shadow: 2px 1px 3px black;
  color: rgb(39, 39, 39);
  position: absolute;
  top: 5.3rem;
  left: -5rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  transform: rotate(-90deg);
  display: inline-block;
}

.attraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("forest1.jpg");
  background-size: cover;
}

.attraction-head {
  font-size: 2.6rem;
  font-weight: bold;
  color: white;
}

.tile1,
.tile2,
.tile3 {
  width: 60%;
  position: relative;
  margin-top: 4rem;
}

.munnar,
.anamudi,
.eravikulam {
  background: rgb(198, 255, 207);
  /* background: linear-gradient(
    360deg,
    rgba(198, 255, 207, 1) 0%,
    rgba(172, 255, 186, 1) 52%,
    rgba(102, 200, 121, 1) 100%
  );
   */
  background: rgba(220, 220, 220, 0.6);
  backdrop-filter: saturate(200%) blur(2px);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  box-shadow: 1px 2px 5px black;
}

.photo-gallery h1 {
  text-align: center;
}

.munnar-head,
.anamudi-head,
.eravikulam-head {
  margin: 0;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.munnar p,
.anamudi p,
.eravikulam p {
  width: 60%;
  margin: 0;
  margin-left: 1rem;
}

.munnar-image,
.anamudi-image,
.eravikulam-image {
  position: absolute;
  width: 200px;
  height: 230px;
  z-index: 2;
  right: 1.5rem;
  bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 3px 3px black;
  transition: 0.3s ease;
}

.munnar-image{
  background-image: url("munnar.jpg");
  object-fit: cover;
  background-size: cover;
}
.anamudi-image{
  background-image: url("anamudi.jpg");
  object-fit: cover;
  background-size: cover;
}

.eravikulam-image {
  background-image: url("eravikulam.jpg");
  object-fit: cover;
  background-size: cover;
  left: 1.5rem;
  bottom: 1.5rem;
}

.eravikulam,
.eravikulam p {
  text-align: right;
  margin-left: auto;
  margin-right: 1rem;
}

.munnar-image:hover,
.anamudi-image:hover,
.eravikulam-image:hover {
  transform: translateY(-1rem);
}

.home-stay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("resort.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.home-stay,
.packages {
  text-align: center;
}

.cards-holder {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
}

.card1,
.card2,
.card3 {
  background-color: rgb(90, 90, 90);
  width: 260px;
  height: 360px;
  margin: 5px;
}

.innercard1,
.innercard2,
.innercard3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("homestay.jpg");
  transition: 0.5s ease;
}

.innercard1 h1,
.innercard2 h1,
.innercard3 h1 {
  margin: 0;
}

.innercard1 div,
.innercard2 div,
.innercard3 div {
  position: absolute;

  left: 50%;
  bottom: 0;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.innercard1:hover,
.innercard2:hover,
.innercard3:hover {
  transform: translate(0.7rem, -0.7rem);
}

.cards-holder2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4rem;
}

.pack1,
.pack2,
.pack3 {
  background-color: rgb(90, 90, 90);

  margin: 5px;
}

.innerpack1,
.innerpack2,
.innerpack3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("homestay.jpg");
  transition: 0.5s ease;
}

.innerpack1:hover,
.innerpack2:hover,
.innerpack3:hover {
  /* transform: translateX(30%);
  overflow: hidden; */
  height: 0;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 260px;
  height: 360px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000be;
  overflow: hidden;
  width: 260px;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.more {
  display: block;
  margin: 1rem auto;
  background-color: rgb(50, 148, 119);
  outline: none;
  border: none;
  border-radius: 10rem;
  width: 7rem;
  height: 3rem;
  font-size: large;
  margin-top: 3rem;
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
}

.more:hover{
  color: antiquewhite;
}
